
#ifndef MENU_DATA_H
#define MENU_DATA_H

#include "lvgl.h"

// Prototype for generated menu list setter
void set_main_menu_list(lv_obj_t *list);

{% for prototype in action_prototypes %}
{{ prototype }}
{% endfor %}

void menu_init(void);

#endif