#include "menu_data.h"
#include "lvgl.h"
#include "esp_lvgl_port.h"
#include "iot_knob.h"
#include "iot_button.h"
#include "button_types.h"
#include "button_gpio.h"
#include "string.h"
#include "user_graphic.h"

{% for code in graphics_code %}
{{ code }}
{% endfor %}

// Global screen declarations
static lv_obj_t *scr_main;
{% for screen in config.menu.screens %}
{% for item in screen['items'] %}
{% if item.type == 'submenu' %}
static lv_obj_t *scr_{{ item.name | replace(" ", "_") | replace("/", "_") | lower }};
{% endif %}
{% endfor %}
{% endfor %}

static void event_handler(lv_event_t *e) {
    lv_obj_t *obj = lv_event_get_target(e);
    lv_event_code_t code = lv_event_get_code(e);
    if (code == LV_EVENT_CLICKED) {
        const char *text = lv_list_get_btn_text(lv_obj_get_parent(obj), obj);
        {% for screen in config.menu.screens %}
        {% for item in screen['items'] %}
        if (strcmp(text, "{{ item.name }}") == 0) {
            {% if item.type == 'action' and item.callback %}
            {{ item.callback }}();
            {% elif item.type == 'submenu' %}
            lv_scr_load(scr_{{ item.name | replace(" ", "_") | replace("/", "_") | lower }});
            {% endif %}
        }
        {% endfor %}
        {% endfor %}
    }
}

void menu_init(void) {
    // Note: LVGL and encoders are initialized by esp_menu_init()
    // This function only sets up the menu structure
    
    // Create and register screens
    scr_main = lv_obj_create(NULL);
    user_graphic_init(scr_main);
    {% for screen in config.menu.screens %}
    {% for item in screen['items'] %}
    {% if item.type == 'submenu' %}
    scr_{{ item.name | replace(" ", "_") | replace("/", "_") | lower }} = lv_obj_create(NULL);
    user_graphic_init(scr_{{ item.name | replace(" ", "_") | replace("/", "_") | lower }});
    {% endif %}
    {% endfor %}
    {% endfor %}

    // Menu setup
    {% for screen in config.menu.screens %}
    {% set screen_loop = loop %}
    {% set screen_name = "main" if screen.name == "main" else screen.name | replace(" ", "_") | replace("/", "_") | lower %}
    lv_obj_t *list_{{ screen_name }} = lv_list_create(scr_{{ screen_name }});
    {% for item in screen['items'] %}
    {% set item_index = screen_loop.index0 * 100 + loop.index %}
    {% if item.graphic_id %}
    lv_obj_t *img_{{ item_index }} = lv_img_create(list_{{ screen_name }});
    lv_img_set_src(img_{{ item_index }}, &{{ item.graphic_id }}_dsc);
    lv_obj_align(img_{{ item_index }}, LV_ALIGN_LEFT_MID, 0, 0);
    lv_obj_t *btn_{{ item_index }} = lv_list_add_btn(list_{{ screen_name }}, NULL, "{{ item.name }}");
    lv_obj_align_to(btn_{{ item_index }}, img_{{ item_index }}, LV_ALIGN_OUT_RIGHT_MID, 5, 0);
    lv_obj_add_event_cb(btn_{{ item_index }}, event_handler, LV_EVENT_CLICKED, NULL);
    {% else %}
    lv_obj_t *btn_{{ item_index }} = lv_list_add_btn(list_{{ screen_name }}, NULL, "{{ item.name }}");
    lv_obj_add_event_cb(btn_{{ item_index }}, event_handler, LV_EVENT_CLICKED, NULL);
    {% endif %}
    {% endfor %}
    
    {% for item in screen['items'] %}
    {% if item.type == 'submenu' %}
    lv_obj_t *list_{{ item.name | replace(" ", "_") | replace("/", "_") | lower }} = lv_list_create(scr_{{ item.name | replace(" ", "_") | replace("/", "_") | lower }});
    {% for subitem in item['items'] %}
    {% set subitem_index = screen.name | replace(" ", "_") | replace("/", "_") | lower ~ "_" ~ item.name | replace(" ", "_") | replace("/", "_") | lower ~ "_" ~ loop.index %}
    {% if subitem.graphic_id %}
    lv_obj_t *subimg_{{ subitem_index }} = lv_img_create(list_{{ item.name | replace(" ", "_") | replace("/", "_") | lower }});
    lv_img_set_src(subimg_{{ subitem_index }}, &{{ subitem.graphic_id }}_dsc);
    lv_obj_align(subimg_{{ subitem_index }}, LV_ALIGN_LEFT_MID, 0, 0);
    lv_obj_t *subbtn_{{ subitem_index }} = lv_list_add_btn(list_{{ item.name | replace(" ", "_") | replace("/", "_") | lower }}, NULL, "{{ subitem.name }}");
    lv_obj_align_to(subbtn_{{ subitem_index }}, subimg_{{ subitem_index }}, LV_ALIGN_OUT_RIGHT_MID, 5, 0);
    lv_obj_add_event_cb(subbtn_{{ subitem_index }}, event_handler, LV_EVENT_CLICKED, NULL);
    {% else %}
    lv_obj_t *subbtn_{{ subitem_index }} = lv_list_add_btn(list_{{ item.name | replace(" ", "_") | replace("/", "_") | lower }}, NULL, "{{ subitem.name }}");
    lv_obj_add_event_cb(subbtn_{{ subitem_index }}, event_handler, LV_EVENT_CLICKED, NULL);
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% endfor %}

    // Load initial screen
    lv_scr_load(scr_main);
}